svg {
  width: 960px;
  height: 600px;
  border: 1px solid #ccc;
}

.boroughs path {
  stroke: #fff;
  stroke-width: 0.5;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  text-align: left;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 6px;
  pointer-events: none;
  font-size: 13px;
  line-height: 1.4em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}



#sliderContainer {
  margin: 10px;
}
